@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Device ID: <span id="device-id" class="text-success font-weight-bold">Retrieving ...</span>
    </p>
</div>

@section Scripts{
    <script>
        // http://www.websocket.org/echo.html
        var output = document.querySelector("#device-id"),
            // wsUri = "ws://echo.websocket.org/",
            wsUri = "ws://127.0.0.1:7777/",
            websocket = new WebSocket(wsUri);

        websocket.onopen = function (e) {
            writeToScreen("CONNECTED");
            doSend("WebSocket rocks\n");
        };

        websocket.onclose = function (e) {
            writeToScreen("DISCONNECTED");
        };

        websocket.onmessage = function (e) {
            writeToScreen("<span>RESPONSE: " + e.data + "</span>");
        };

        websocket.onerror = function (e) {
            writeToScreen("<span>ERROR:</span> " + e.data);
        };

        function doSend(message) {
            writeToScreen("SENT: " + message);
            websocket.send(message);
        }

        function writeToScreen(message) {
            output.insertAdjacentHTML("afterbegin", "<p>" + message + "</p>");
        }
    </script>
}
