@page
@model TFW.Framework.CQRSExamples.Pages.Report.IndexModel
@{
    ViewData["Title"] = "Reports";
}

<div class="text-center">
    <h1 class="display-4">Reports</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a asp-page="/Report/Order">Order report</a>
    </p>
    <p>
        <a asp-page="/Report/Product">Product report</a>
    </p>
    <p>
        <a asp-page="/Report/Customer">Customer report</a>
    </p>
</div>
