@inherits ComponentBase

<section class="mb-5">
    <h1>Binding</h1>

    <input type="text" name="myName" @bind="MyName" />
    <p>
        My name is: @MyName
    </p>

    <input type="number" name="incrementAmount" @bind="AppState.IncrementAmount" />
</section>