@page "/file-manager"
@model TFW.Framework.FileManager.Examples.Pages.FileManagerModel
@{
    ViewBag.Title = "File Manager";
}

<div id="elfinder"></div>

@section scripts {
    <script type="text/javascript">
		// Documentation for client options:
		// https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
        $(document).ready(function () {
            var myCommands = elFinder.prototype._options.commands;
            myCommands.push('authorize');
            var contextMenuFiles = elFinder.prototype._options.contextmenu.cwd;
            contextMenuFiles.push('authorize');
            var contextMenuNavbars = elFinder.prototype._options.contextmenu.navbar;
            contextMenuNavbars.push('authorize');

            var disabled = ['callback', 'chmod', 'editor', 'netmount', 'ping', 'zipdl', 'help']; // Not yet implemented commands in elFinder.NetCore
            elFinder.prototype.i18.en.messages.TextArea = "Edit";
            elFinder.prototype.i18.en.messages.cmdauthorize = "Authorize";

            $.each(disabled, function (i, cmd) {
                (idx = $.inArray(cmd, myCommands)) !== -1 && myCommands.splice(idx, 1);
            });

            elFinder.prototype.commands.authorize = function () {
                this.exec = function (hashes) {
                    alert('Authorize');
                }
                this.getstate = function () {
                    var sel = this.files(sel);

                    const anyFile = sel.findIndex(e => e.mime != 'directory') > -1;

                    return !this._disabled && !anyFile ? 0 : -1;
                }
            }

            var options = {
                url: '/el-finder/file-system/connector', // Default (Local File System)
                @*//customData: { folder: '@Model.Folder', subFolder: '@Model.SubFolder' }, // customData passed in every request to the connector as query strings. These values are used in FileController's Index method.*@
                rememberLastDir: false, // Prevent elFinder saving in the Browser LocalStorage the last visited directory
                commands: myCommands,
                //lang: 'pt_BR', // elFinder supports UI and messages localization. Check the folder Content\elfinder\js\i18n for all available languages. Be sure to include the corresponding .js file(s) in the JavaScript bundle.
                uiOptions: { // UI buttons available to the user
                    toolbar: [
                        ['back', 'forward'],
                        ['reload'],
                        ['home', 'up'],
                        ['mkdir', 'mkfile', 'upload'],
                        ['open', 'download'],
                        ['undo', 'redo'],
                        ['info'],
                        ['quicklook'],
                        ['copy', 'cut', 'paste'],
                        ['rm'],
                        ['duplicate', 'rename', 'edit'],
                        ['selectall', 'selectnone', 'selectinvert'],
                        ['view', 'sort'],
                        ['search']
                    ]
                },
                handlers: {
                    contextmenu: function (event, elfinderInstance) {
                        const selected = elfinderInstance.selected();
                        console.log(event.data);
                        console.log(event.data.selected); 
                    }
                },
                contextmenu: {
                    files: contextMenuFiles,
                    navbar: contextMenuNavbars
                }
                //onlyMimes: ["image", "text/plain"] // Get files of requested mime types only
                //lang: 'vi', // Change language
            };

            $('#elfinder').elfinder(options).elfinder('instance');
        });
    </script>
}