@using Resources = AdminResources.Pages.Login.IndexModel
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="login-box" style="display:none">
    <div class="login-logo">
        <a href="/index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div id="login-error" class="text-center text-danger text-sm"></div>
            <form id="form-login" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="rememberMe" value="true">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="register.html" class="text-center">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
<partial name="LoadingPartial" />
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- moment.js -->
<script src="/plugins/moment/moment.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- jQuery-validation -->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>
<!-- Services -->
<partial name="Services/IdentityServicePartial" />
<partial name="Services/CommonServicePartial" />
<script>
    const identityService = getIdentityService();
    const commonService = getCommonService();

    const login = (form) => {
        form = $(form);
        const rememberMe = form.find('[name=rememberMe]:checked').val();
        const formData = new FormData(form[0]);
        $('#login-error').html('');
        commonService.changeLoading(true);
        const handler = () => {
            identityService.login({
                formData,
                success: (_) => {
                    location.href = '@Model.ReturnUrl';
                },
                error: (data) => {
                    const errorCode = data?.responseJSON?.error;
                    if (errorCode === 'invalid_grant') {
                        $('#login-error').html('@Model.Localizer[Resources.InvalidUsernameOrPassword]');
                        return;
                    }
                    commonService.handleApiError(data);
                },
                complete: () => {
                    commonService.changeLoading(false);
                },
                rememberMe
            });
        };
        setTimeout(handler, 1000);
    }

    const init = () => {
        const tokenValid = identityService.isTokenValid();
        if (tokenValid) {
            location.href = '@Model.ReturnUrl';
            return;
        }
        identityService.clearToken();
        $(document).ready(() => {
            console.log('Document ready');
            $('.login-box').show();
            $("#form-login").validate({
                submitHandler: login,
                rules: {
                    username: {
                        required: true,
                    },
                    password: {
                        required: true,
                    },
                },
                messages: {
                    // [TODO] add localization
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    }

    init();
</script>